$primary-color: #4c9cd2;
$action-color: #2185d0;
$action-hover-color: #1678c2;
$action-click-color: #0d71bb;
$primary-font: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
// $secondary-font: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
